@font-face {
    font-family: sf-bold;
    src: url("assets/font/SFPRODISPLAYBOLD.OTF.otf");
}
@font-face {
    font-family: sf-regular;
    src: url("assets/font/SFPRODISPLAYREGULAR.OTF.otf");
}

html {
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1, h3 {
    font-family: sf-bold;
}

p {
    font-family: sf-regular;
}

.text-green {
    color: rgb(42, 244, 2);
}

.text-blue {
    color: rgb(0, 0, 222);
}

.text-gray {
    color: #949494;
}

.bg-blue{
    background-color: rgb(0, 0, 255);
    border-radius: 1rem;
    padding: 0 1rem;
    color: aliceblue;
}

.paragraf-primary {
    width: 75%;
    font-size: 1.3rem;
    margin-top: 2rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    font-size: 1.2rem;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo img {
    width: 3rem;
}

nav .logo a {
    text-decoration: none;
    color: #676767;
}

nav .logo a:hover {
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul li {
    list-style: none;
    transition: 0.2s ease;
}

nav ul li:hover {
    transform: scale(1.2);
}

nav ul li a {
    text-decoration: none;
    color: #525252;
}

nav ul li a:hover {
    color: black;
}

nav .menu-icon {
    display: none;
    font-size: 1.5rem;
}

main {
    margin-bottom: 10rem;
}

main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .hero {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.hero-header {
    font-family: sf-regular;
    font-size: 6rem;
    text-align: center;
    line-height: 1;
    color: #000;
}


main .hero .link {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

main .hero .link a {
    border-radius: 2rem;
    padding: 1rem 2rem;
    text-decoration: none;
}

main .hero .link .artikel {
    color: aliceblue;
    transition: 0.3s linear;
    background-color: rgb(253, 67, 5);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

main .hero .link .artikel:hover {
    transform: translateY(-0.8rem);
}

main .hero .link .team {
    color: #1c1c1c;
    transition: 0.3s linear;
    background-color: rgb(211, 211, 211);
    box-shadow:  0 3px 10px rgb(0 0 0 / 0.2);
}

main .hero .link .team:hover {
    transform: translateY(-0.8rem);
}

main .image-hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .image-hero img{
    width: 90%;
    height: 40rem;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 5rem;
}

main .manfaat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 5rem;
}

main .manfaat .header-manfaat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    width: 45%;
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
}

main .manfaat .header-manfaat img {
    width: 23rem;
}

main .manfaat .deskripsi-primary{
    font-size: 1.5rem;
    margin: 1rem 0 3rem 0;
    color: #676767;
}

main .manfaat .deskripsi{
    font-size: 1.5rem;
    color: #676767;
}

main .manfaat .box-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    gap: 2rem;
    justify-content: center;
    width: 90%;
}

main .manfaat .box-image .box {
    border: 1px solid rgb(189, 188, 188);
    border-radius: 1rem;
    padding: 1rem;
    transition: transform 0.2s linear;
}

main .manfaat .box-image .box:hover {
    transform: scale(1.1);
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    width: 5rem;
    margin-top: 1rem;
}
.box figcaption {
    margin-top: 1rem;
    text-align: center;
}

main .manfaat .box-image .box .deskripsi {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    line-height: 1.1;
}

main .solusi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7rem;
    padding: 4rem 1rem 4rem 1rem;
}

main .solusi .penting {
    color: red;
    margin-bottom: 1rem;
}

main .solusi .header {
    width: 50%;
    text-align: center;
    font-size: 4rem;
    color: #242323;
    line-height: 1;
    margin-bottom: 1rem;
}

main .solusi .deskripsi {
    color: rgb(149, 148, 148);
    margin-bottom: 5rem;
}

main .solusi .stress {
    margin-bottom: 9rem;
    width: 20rem;
}

main .solusi .box-solusi {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 2rem;
    justify-content: center;
    width: 90vw;
}

main .solusi .box-solusi .kotak {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    height: 20rem;
    text-align: center;
    transition: 0.2s ease-in;
}

main .solusi .box-solusi .kotak:hover{
    transform: scale(1.1);
}

.box-solusi .kotak img {
    width: 5rem;
    margin-bottom: 2rem;
}
main .solusi .box-solusi .kotak h3 {
    color: #1c1c1c;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

main .solusi .box-solusi .kotak p {
    width: 75%;
    text-align: center;
    color: rgb(126, 125, 125);
}

footer {
    color: aliceblue;
    height: auto;
    background-color: black;
    border-radius: 7rem 7rem 0rem 0rem;
} 

footer .footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
}

footer .footer-header h3 {
    font-family: sf-regular;
    font-size: 3rem;
}

footer .footer-header .kelompok {
    color: red;
}

footer .footer-header p {
    color: rgb(162, 162, 163);
    margin-top: 5px;
}

footer .box-card {
    width: 90%;
    margin: 4rem auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 1rem;
    justify-content: center;
}

footer .box-card .card {
    /* border: 1px solid rgb(72, 72, 72); */
    min-height: 35rem;
    gap: 1rem;  
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    overflow: hidden;
    padding: 1rem;
    transition: 0.2s ease;
}

footer .box-card .card:hover {
    transform: scale(1.05)
}

footer .box-card .card .nim {
    text-align: center;
}

footer .box-card .card img {
    height: 23rem;
    object-fit: cover;
    position: center;
    border-radius: 1rem;
    margin-top: -6rem;
}

footer .box-card .card .firzan {
    object-position: 0 -4rem;
}

footer .box-card .card .dafa {
    object-position: 0 -5rem;
}

footer figcaption {
    padding: 0rem 1rem 0 1rem;
    border-radius: 1rem;
    height: 3rem;
    text-align: center;
}

footer figcaption p{
    color: rgb(162, 162, 163);
}

figcaption a img {
    width: 10px;
    height: 10px;
}

figcaption a {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgb(196, 197, 197);
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
} 

figcaption a:hover {
    background-color: #fff;
}

footer .end {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0 0 0;
}


/* Responsive */

/* Laptop */
@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav .logo a {
        display: none;
    }
    nav .menu-icon {
        display: flex;
        align-items: center;
    }
    .hidden {
        display: none;
    }
    
    main .manfaat .header-manfaat .apa-saja {
        width: 30rem;
    }
}

@media only screen and (max-width: 450px) {
    html {
        font-size: 70%;
    }

    main .manfaat .header-manfaat .apa-saja {
        width: 25rem;
    }
}